<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>22120163</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>
    <div class="container-fluid p-2">
        <!-- header -->
        <div class="row mx-0">
            <div class="col-12">
                {{> header}}
            </div>
        </div>

        <!-- body -->
        <div class="row mx-0 my-2" id="body">
            <!-- sider -->
            <div class="col-3">
                {{> siderbar}}
            </div>
            <!-- content -->
            <div class="col-9">
                {{{body}}}
            </div>
        </div>

        <!-- footer -->
        <div class="row mx-0">
            <div class="col-12">
                {{> footer}}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./script/script.js"></script>
</body>

</html>