<div class="sider-ctn border rounded h-100">
    <h4 class="bg-secondary p-2 rounded-top text-white">Navigation</h4>
    <div class="p-2">
        <nav>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/product" class="text-decoration-none">Product Page</a>
                </li>
                <li class="list-group-item">
                    <a href="/category" class="text-decoration-none">Category Page</a>
                </li>
                <li class="list-group-item">
                    <a href="/about" class="text-decoration-none">About Us</a>
                </li>
                <li class="list-group-item">
                    <a href="/contact" class="text-decoration-none">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>